[DEFAULT]
BeginString=FIX.4.2
ConnectionType=acceptor
SocketAcceptPort=9898
SenderCompID=ECNGATEWAY
DataDictionary=FIX42.xml
FileStorePath=store
FileLogPath=log
StartTime=00:00:00
EndTime=00:00:00
UseDataDictionary=Y
ValidateUserDefinedFields=N
ResetOnLogon=Y
ResetOnLogout=Y
ResetOnDisconnect=Y

# Define 5 client sessions
[SESSION]
TargetCompID=CLIENT1

[SESSION]
TargetCompID=CLIENT2

[SESSION]
TargetCompID=CLIENT3

[SESSION]
TargetCompID=CLIENT4

[SESSION]
TargetCompID=CLIENT5

[SESSION]
TargetCompID=MARKETMAKER
