global
    log stdout format raw local0
    maxconn 2000

defaults
    log     global
    mode    tcp
    option  tcplog
    timeout connect 5000ms
    timeout client  4h
    timeout server  4h

resolvers docker
    nameserver dns1 127.0.0.11:53
    resolve_retries 3
    timeout resolve 1s
    timeout retry   1s
    hold valid      10s

frontend fix_front
    bind *:9898
    default_backend fix_back

backend fix_back
    balance roundrobin
    # Stick Table: Track client IP, expire after 30 minutes of inactivity
    stick-table type ip size 200k expire 30m
    stick on src
    
    # Dynamic Server Discovery via Docker DNS
    # "ecn-fix-server" is the service name in docker-compose
    server-template ecn 5 ecn-fix-server:9898 check resolvers docker init-addr none

frontend stats
    mode http
    bind *:8404
    stats enable
    stats uri /stats
    stats refresh 10s
